footer{
    .contain{
        padding: 60px 0;
        align-items: flex-start;
        font-size: 13px;
        .links{
            display: flex;
            flex-wrap: wrap;
            .link1{
                width: 30%;
                margin-right: 6%;
                a{
                    color: #0080cf;
                    text-decoration: none;
                }
                a:hover{
                    color: #43b7ff;
                }
            }
            .link2{
                width: 25%;
                margin-top: 0;
                &__li{
                    a:hover{
                        text-decoration: none;
                    }
                }
            }
        }
        .bottom{
            display: flex;
            margin-top: 30px;
            flex-wrap: wrap;
            justify-content: space-between;
            .messengers{
                display: flex;
                width: 30%;
                gap: 0 20px;
                li{
                    height: 50px;
                    width: 50px;
                    align-items: center;
                    padding: 11px 0;
                    text-align: center;
                    background-color: #f5f5f9;
                }
            }
            .right{
                width: 64%;
                display: flex;
                gap: 3%;
                &__li{
                    text-decoration: underline;
                }
                &__top{
                    background-color: #0080cf;
                    width: 30px;
                    border-radius: 4px;
                    height: 30px;
                    text-align: center;
                    line-height: 30px;
                    color: white;
                    font-weight: 800;
                    div{
                        transform: rotate(-90deg);
                    }
                    a:hover{
                        color: white;
                    }
                }
                &__top:hover{
                    background-color: #43b7ff;
                    transition-duration: 0.3s;
                    transition-timing-function: linear;
                }
            }
        }
    }
}

@media(max-width:1100px){
    footer{
        .contain{
            .links{
                justify-content: space-between;
                ul{
                    width: 30%;
                }
            }
            .bottom{
                .messengers{
                    flex-wrap: wrap;
                    li{
                        width: 40%;
                        margin: 10px 0;
                    }
                }
                .right{
                    flex-wrap: wrap;
                    justify-content: space-between;
                    &__li{
                        width: 40%;
                    }
                    &__top{
                        width: 30px;
                    }
                }
            }
        }
    }
}

@media(max-width:600px){
    footer{
        .contain{
            .links{
                .link1{
                    width: 80%;
                    margin: 0 auto 20px;
                }
                .link2{
                    width: 80%;
                    margin: 0 auto 20px;
                }
            }
            .bottom{
                .messengers{
                    width: 80%;
                    margin: 10px auto;
                    li{
                        width: 50px;
                    }
                }
                .right{
                    width: 100%;
                    &__li{
                        width: 80%;
                        margin: 8px auto;
                    }
                    &__top{
                        display: none;
                    }
                }
            }
        }
    }
}

@media(max-width: 454px){
    footer{
        .contain{
            width: 96%;
            padding: 40px 0;
            .links{
                .link1{
                    width: 100%;
                    padding-left: 0;
                }
                .link2{
                    padding-left: 0;
                    width: 100%;
                }
            }
            .bottom{
                .messengers{
                    width: 244px;
                    margin: 0 auto;
                    padding-left: 0;
                    gap: 5%;
                    li{
                        width: 50px;
                    }
                }
                .right{
                    width: 100%;
                    padding-left: 0;
                    &__li{
                        width: 100%;
                    }
                }
            }
        }
    }
}